<div id="unit-leader-tasks-page">
  <div class="row">
    <div class="col">
      <div class="card max-height-card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <%= link_to "Ready to Schedule (#{members.count})", '', class: "nav-link active" %>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% members.each do |member| %>
              <li class="list-group-item"><%= member.full_name %> <a href="#" class=" pull-right btn btn-light">Schedule</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card max-height-card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <%= link_to "Waiting Verification (1)", '', class: "nav-link active" %>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" >Member</th>
                <th></th>
                <th></th>
                <th scope="col">State</th>
                <th scope="col">E-Verify</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dummy Text</td>
                <td></td>
                <td></td>
                <td class="text-center">
                  <input class="form-check-input" type="checkbox" value="checked" disabled checked>
                </td>
                <td class="text-center">
                  <input class="form-check-input" type="checkbox" value="" disabled>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
