#meet-the-management {
  #organization-building-img {
    object-fit: cover;
    width: 100%;
    max-height: 400px;
  }

  .manager-card {
    img {
      object-fit: cover;
      width: 100%;
      max-height: 250px;
    }
  }
}
