<h4>Welcome to My First Shift</h4>

<h5><%= link_to "Create a new Organization", register_path %></h5>

<small>Already use My First Shift? <%= link_to "Sign In", sign_in_path %> or <%= link_to "find your organization", sign_in_find_user_path %></small>