#top-nav {
  background: #323838;

  .container {
    padding: 0 15px 0 15px;
  }

  .navbar-toggler {
    border: 1px solid grey;
  }

  #top-nav-links {
    a {
      color: rgba(255,255,255,0.75);
      font-size: 15px;
      font-weight: bold;

      &:hover {
        color: #929F4C;
      }
    }

    .dropdown-menu {
      a {
        color: #333333;

        &:hover {
          color: white;
          background-color: #929F4C;
        }
      }

      @include media-breakpoint-down(md) {
        background-color: #323838;
        border: none;

        a {
            color: rgba(255,255,255,0.75);

          &:hover {
            color: #929F4C;
            background-color: transparent;
          }
        }
      }
    }
  }
}
