#welcome-header {
  color:#929F4C;
  margin-top: 50px;

  h2 {
    font-size: 38px;
  }
}

#welcome-list {
  ol {
    padding-left: 28%;

    li {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .well {
    padding-bottom: 40px;
  }

  #list-header {
    color: gray;
    font-size: 22px;
  }
}
