<div id="welcome-page">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center card-title">What to Expect</h2>

          <hr class="green-ruler">

          <h5 class="card-subtitle text-muted text-center my-4">On this site you will...</h5>

          <ol id="welcome-list">
            <li>Finish setting up your user account</li>
            <li>Fill out your paperwork</li>
            <li>Learn some policies</li>
            <li>Get excited for your first day!</li>
          </ol>

          <div class="text-center">
            <%= link_to "Let's get Started!", '', class: "btn", id: "next-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
