<div class="row" id="welcome-header">
  <h2>What to Expect</h2>
</div>

<div class="row" id="welcome-list">
  <div class="col-md-6 center-block float-none">
    <div class="well">
      <h6 class="text-center" id="list-header">On this site you will...</h6>
      <ol>
        <li>Finish setting up your user account</li>
        <li>Fill out your paperwork</li>
        <li>Learn some policies</li>
        <li>Get excited for your first day!</li>
      </ol>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to "Let's get Started!", onboarding_meet_the_management_path, class: "btn btn-default", id: "next-btn" %>
  </div>
</div>
