<h5>Welcome to <%= @organization.name %>!  We are excited to have you as a part of our company!</h5>

<h2>What to Expect</h2>
<div>
  <h6>On this site you will...</h6>
  <ol>
    <li>Finish setting up your user account</li>
    <li>Fill out your paperwork</li>
    <li>Learn some policies</li>
    <li>Get excited for your first day!</li>
  </ol>
</div>

<%= link_to "Next Step", onboarding_employee_info_path %>
