<ul class="nav nav-pills mb-4">
  <li class="nav-item">
    <button id="pending-invites-nav-btn" class="nav-link active">Pending Invitations (<%= pending_invites.count %>)</button>
  </li>
  <li class="nav-item">
    <button id="accepted-invites-nav-btn" class="nav-link">Accepted Invitations(<%= accepted_invites.count %>)</button>
  </li>
</ul>
