<div id="meet-the-management">
  <div class="row">
    <div class="col-xs-12" id="org-building-picture">
      <%= image_tag("HTX Outside.jpg", alt: "Circle Pop") %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="well onboarding">
        <div class="row">
          <h2>Meet the Management</h2>
        </div>

        <hr class="green-ruler">

        <div class="row" id="management-intros">
          <div class="col-xs-4 col-xs-offset-1 text-center">
            Test
          </div>
          <div class="col-xs-4 col-xs-offset-2 text-center">
            Test
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <%= link_to "Next Step", onboarding_employee_info_path, class: "btn btn-default", id: "next-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
