<% if obj.errors.any? %>
  <div class="mb-4">
    <% obj.errors.full_messages.each do |msg| %>
      <div class='alert alert-warning alert-dismissible fade show py-1 mb-2'>
        <%= msg %> <i class="fa fa-times pull-right pt-1" data-dismiss="alert" aria-hidden="true"></i>
      </div>
    <% end %>
  </div>
<% end %>
