<div id="msg-header">
  <div class="container">
    <div class="row">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name %>">
            <a class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.length > 0 %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
