<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name %> alert-dismissible fade show py-1 mb-3" role="alert">
      <%= msg %> <i class="fa fa-times pull-right pt-1" data-dismiss="alert" aria-hidden="true"></i>
    </div>
  <% end %>
<% end %>
