<div id="site-footer" class="container">
  <div class="row">
    <div class="col-12">
      <hr id="footer-border-line">
      <div class="row">
        <div class="col-sm">
          <ul class="list-inline">
            <li><span>&copy; 2017 MyFirstShift, Inc.</span></li>
          </ul>
        </div>
        <div class="col-sm">
          <%= link_to home_path do %>
            <%= image_tag("PastedGraphic-1.png", width: 30, height: 30, alt: "Circle Pop", class: "mx-auto d-block") %>
          <% end %>
        </div>
        <div class="col-sm">
          <ul class="list-inline float-md-right">
            <li class="list-inline-item"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></li>
            <li class="list-inline-item"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></li>
            <li class="list-inline-item"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
          </ul>
        </div>
    </div>
  <div>
</div>
