<div class="col-md-12 top-menu">
   <div class="btn-group btn-breadcrumb">
      <span class="btn btn-default active">Introduction</span>
      <span class="btn btn-default">Employee Info</span>
      <span class="btn btn-default">Paperwork</span>
      <span class="btn btn-default">Policies</span>
      <span class="btn btn-default">Applications</span>
      <span class="btn btn-default">Your First Day</span>
      <span class="btn btn-default">Complete!</span>
  </div>
</div>
