<ul class="nav nav-tabs card-header-tabs">
  <li class="nav-item">
    <%= link_to "Members (20)", owner_members_path, class: "nav-link #{current_owner_tab?('users')}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Invitations", owner_invites_path, class: "nav-link #{current_owner_tab?('invites')}" %>
  </li>
</ul>
