<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Please join your group, <%= @organization.name %></h1>
    <p>
      Please you the following link to signup: 
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>