<div id="paperwork">
  <div class="row">
    <div class="col-xs-12">
      <div class="well onboarding">
        <div class="row">
          <h2>Paperwork</h2>
        </div>

        <hr class="green-ruler">

        <div class="row" style="height: 500px;">
          <h1 class="text-center">Coming Soon...</h1>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <%= link_to "Previous Step", onboarding_employee_info_path, class: "btn btn-default", id: "next-btn" %>
            <%= link_to "Next Step", onboarding_questions_path, class: "btn btn-default", id: "next-btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

