<div class="card">
  <h5 class="card-header">Hourly Pay Breakdown</h5>
  <div class="card-body">
    <canvas class="mb-2" id="hourlyPayBreakdownChart" height="150"></canvas>
    <hr>
    <div class="row">
      <div style="padding: 0;" class="col">
        <div style="border-top: none; border-bottom: none; border-left: none;  border-radius: 0;" class="card">
          <div style="padding-top: 0; padding-left: 15px;" class="card-body">
            <h6 class="card-title mb-0">Hourly Pay</h6>
            <small class="card-subtitle text-muted">Wage ($/hr)<span class="pull-right">Percent (%)</span></small>
            <ul class="list-group list-group-flush">
              <li style="padding-left: 0; padding-right: 0; padding-bottom: 4px; padding-top: 4px; border-top: none;" class="list-group-item"><small>$10</small> <small class="pull-right">56</small></li>
              <li style="padding-left: 0; padding-right: 0; padding-bottom: 4px; padding-top: 4px; border-top-style: dotted;" class="list-group-item"><small>$8</small> <small class="pull-right">44</small></li>
              <li style="padding-left: 0; padding-right: 0; padding-top: 4px; border-top-color: rgba(0, 0, 0, 0.125);" class="list-group-item"><strong style="font-size: 14px;">Total</strong> <strong style="font-size: 14px;" class="pull-right">100</strong></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="border: none;" class="card">
          <div style="padding-top: 0; padding-left: 5px;" class="card-body">
            <h6 style="font-weight: bold;" class="card-title mb-0">Most Paid</h6>
            <h6 style="font-weight: bold;" class="card-title mb-0 pt-1">15</h6>
            <small class="card-subtitle text-muted">at $10/hr</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
