<div id="owner-dashboard-page">
  <br />
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Active Team Members</h5>
        <div class="card-body">
          <canvas id="activeTeamMembersChart" height="200"></canvas>
        </div>
      </div>
    </div>
    <div class="col">
      <!-- <canvas id="myChart2" height="250"></canvas> -->
    </div>
  </div>
</div>
