<div class="find-user">
  <div class="well col-xs-6 center-block float-none">
    <h1 id="title" class="text-center">Join an Organization</h1>

    <p id="instructions" class="text-center">To find the organizations you can join, please confirm your email address.</p>

    <%= form_tag sign_in_send_notification_path, method: "post", class: "form-inline", id: "user_email_input" do %>
      <div class="form-group">
        <%= label_tag :email, '', class: "sr-only" %>
        <%= email_field_tag :email, '', placeholder: 'name@example.com', class: "form-control" %>
      </div>
      <%= submit_tag "Confirm", class: "btn" %>
    <% end %>
  </div>
</div>
