.btr-radius-none {
  border-top-right-radius: 0;
}

.bbr-radius-none {
  border-bottom-right-radius: 0;
}

.btl-radius-none {
  border-top-left-radius: 0;
}

.bbl-radius-none {
  border-bottom-left-radius: 0;
}
