#user-home-page {
  #update-fun-fact-div {
    display: none;
  }

  .progress-bar {
    height: 27px;
    font-size: 16px;
    padding-top: 5px;
  }

  .user-disabled-info-input {
    width: 70%;
  }

  .app-information {
    font-size: 18px;
  }
}
