body {
  background-color: #EFEFEF;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  color: #333333;
  min-width: 992px;

  #content {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  #content-container {
    background: #EFEFEF;
    min-height: 500px;
  }

  #msg-header {
    background: #dedede;
    min-height: 1px;
  }

  #msg-header .alert {
    padding: 20px;
    margin-bottom: 0px;
    text-shadow: none;
    background-color: transparent;
    border: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    color: #606060;
    // font-size: 18px;
  }

  #msg-header .alert .close {
    position: relative;
    top: -10px;
    right: -21px;
    line-height: 20px;
  }

  #next-btn, #previous-btn {
    margin-top: 20px;
    background: #929F4C;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 170px;
    // border-radius:10px;
    // width:12%;
    // position:absolute;
    // top:92%;

    &:hover {
      background: #666f35;
    }
  }

  .alert {
    float: none;

    h5 {
      margin-top: 0;
    }
  }

  .float-none {
    float: none;
  }

  .green-ruler {
    border-color: #929F4C;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .well {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);

    &.onboarding {
      border-top: none;
      box-shadow: none;
      padding-bottom: 64px;
    }
  }

  h2 {
    color: #929F4C;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    // font-family: 'Nunito', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
  }
}
