body {
  background-color: #FFFFFF;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  color: #333333;
  // min-width: 992px;

  .container {
    @include media-breakpoint-down(lg) {
      max-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  #content {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  #content-container {
    // min-height: 400px;
  }

  #next-btn, #previous-btn {
    // margin-top: 20px;
    background: #929F4C;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 170px;
    cursor: pointer;
    // border-radius:10px;
    // width:12%;
    // position:absolute;
    // top:92%;

    &:hover {
      background: #666f35;
    }
  }

  .alert {
    float: none;

    h5 {
      margin-top: 0;
    }
  }

  .float-none {
    float: none;
  }

  .green-ruler {
    border-color: #929F4C;

    @include media-breakpoint-up(lg) {
      width: 40%;
    }

    @include media-breakpoint-only(md) {
      width: 60%;
    }
    // margin: 0 auto;
    // margin-bottom: 20px;
  }

  // .card {
  //   h2.card-title {
  //     color: #929F4C;
  //     text-align: center;
  //     text-transform: uppercase;
  //     font-size: 30px;
  //     // font-family: 'Nunito', sans-serif;
  //     font-family: 'Josefin Sans', sans-serif;
  //   }

  //   &.onboarding {
  //     border-top: none;
  //     box-shadow: none;
  //     padding-bottom: 64px;
  //   }
  // }

  .text-muted {
    color: #808080 !important;
  }

  h5.page-title {
    font-size: 22px;
  }
}
