<div id="policies">
  <%= image_tag "paperwork.jpg", class: "page-image-header position-center-center card-img-top btr-radius-none btl-radius-none" %>
  <div class="card-body">
    <h4 class="page-title text-center">Policies</h4>
    <hr class="green-ruler">

    <div class="row justify-content-md-center my-5">

      <p class="pt-2"><strong>Whoops!</strong> <span class="text-muted">Looks like there are no policies yet, this could be good or bad...</span></p>

      <div class="col-8 mt-5">
        <small class="text-muted">*** The policies shown here are reflective of <strong><%= @organization.name %></strong> and not MyFirstShift, Inc.</small>
      </div>
    </div>
  </div>

  <div class="card-footer text-center">
    <%= link_to "Previous Step", onboarding_questions_path, class: "btn mx-3 previous-btn" %>
    <%= link_to "Next Step", onboarding_apps_path, class: "btn mx-3 next-btn" %>
  </div>
</div>
