<ul class="nav nav-tabs card-header-tabs">
  <li class="nav-item">
    <%= link_to "Ready to Schedule (9)", '', class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Waiting Verification (6)", '', class: "nav-link" %>
  </li>
</ul>
