<div id="first-day">
  <%= image_tag "HTX.jpg", class: "page-image-header card-img-top btr-radius-none btl-radius-none position-center-center" %>
  <div class="card-body">
    <h4 class="page-title text-center">Your First Day</h4>
    <hr class="green-ruler">
    <div class="row justify-content-md-center">
      <div class="col-6 text-center">
        <p class="card-text text-muted">The first day is just around the corner!  The content below gives you everything you need to be ready for your first day!</p>
      </div>
    </div>

    <div class="row justify-content-md-center mt-5 mb-3">
      <div class="col-8 mt-5">
        <small class="text-muted">*** Once you have clicked 'Complete', you will be taken to your dashboard. If you need to update any information in the prior steps, click on any of the links above to go back to that page.</small>
      </div>
    </div>
  </div>

  <div class="card-footer text-center">
    <%= link_to "Previous Step", onboarding_apps_path, class: "btn mx-3 previous-btn" %>
    <%= link_to "Finish", '', class: "btn mx-3 next-btn", id: "finish-btn" %>
  </div>
</div>
